/* ==========================================================================
---WHOLE PAGE & HELPERS
========================================================================== */

body {
  margin-top: 30px;
  background-color: black;
  color: #ebedea;
  font-family: 'Muli', Serif
}

.hide-bullets {
  list-style:none;
  margin-left: -40px;
  margin-top:20px;
}

/* ==========================================================================
---NAVIGATION
========================================================================== */

.navbar-brand {
 padding: 0px;
 height: 70px;
 margin-bottom: 10px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #cccccc;
  border-radius: 1px;
}

@media (min-width: 768px){

/* Makes the navbar the proper height on wide screens
*/
.navbar-nav  li  a {
 line-height: 50px;
}
}

/* ==========================================================================
---CAROUSEL
========================================================================== */

#carousel-div {
  padding: 0px;
  margin-top: 10%;
}

#carousel-bounding-box {
  width: 100%;
  padding: 0px;
}

#galleryCarousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-color: green;
  border-style: none;
  width: 100%;
  margin-left: 20px;
}


@media (min-width: 768px){

  /*Fixes Vertical Centering in Carousel*/
  .item {
    height: 500px;
  }
  .carousel .item img {
   max-height: 100%;  
   max-width: 100%; 
   position: absolute;  
   top: 0;  
   bottom: 0;  
   left: 0;  
   right: 0;  
   margin: auto;
 }
}

@media (max-width: 768px){
 /*Forces the carousel to always stay the same height*/
 .item {
  height: 300px;
}

/*Fixes Vertical Centering in Carousel*/
.carousel .item img{
 max-height: 100%;  
 max-width: 100%; 
 position: absolute;  
 top: 0;  
 bottom: 0;  
 left: 0;  
 right: 0;  
 margin: auto;
}
}

/* ==========================================================================
---HOME PAGE
========================================================================== */

.jumbotron {
  color: black;
  width: 80%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 14px;
}

.jumbotron p {
  font-size: 1.3em;
}

.thumbnail {
  background-color: black;
  border-color: black;
  margin-bottom: 0px;
}

/* ==========================================================================
---INFORMATIONAL PAGES (ABOUT, PRINTING PROCESS)
========================================================================== */

#artist-photo {
  margin:0 24px 14px 0;
  border-radius: 5px;
}

#about-text {
  color: black;
  font-size: 18px;
}
#about-text p{
  padding-bottom: 10px;
}

/* ==========================================================================
---GALLERY PAGES
========================================================================== */

#gallery {
  margin: 0px;
}
#gallery .caption {
  margin-top: -40px;
}
#gallery-page .thumbnail {
  padding: 0px;
  background-color: black;
  border-color: black;
  vertical-align: middle;
  
  display: flex;
  align-items: center;
  overflow: hidden;
}

#gallery-page li {
  display: block;
  margin: 0px;
  padding: 1px;
  border-color: darkgrey;
  border-width: 1px;
  border-style: none;

}

/*#gallery-page img {
  object-fit: contain;
  height: 100px;
  width: 100px;
}*/

/*MEDIA QUERIES TO CONTROL GRID SIZE FOR GALLERY PAGES*/
/* Custom, iPhone Retina */ 

#gallery-page img {
    border-style: none;
    border-color: darkgrey;
    object-fit: contain;
    height: 100%;
    width: 80%;
    display: block;
    margin: auto;
  }
  #gallery-page li {
    border-style: inset;
    border-color: darkgrey;
    border-width: 2px;
    padding:0px;
    margin-left: 0px;
  }
  #galleryPage .thumbnail {
    margin: 0px;
  }

@media only screen and (min-width : 320px) {
  #gallery-page .thumbnail img {
    object-fit: contain;
    height: 100%;
    width: 300px;
    display: block;
    margin: auto;
  }
  #gallery-page li {
    padding:0px;
    margin-left: 0px;
  }
  #galleryPage .thumbnail {
    margin: auto;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #gallery-page .thumbnail img {
    object-fit: contain;
    height: 100px;
    width: 200px;
  }
   #gallery-page li {
    padding:5px;
    margin-left: 0px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

#slider-thumbs {
  padding: 0px;
}

/* ==========================================================================
---WELL
========================================================================== */

.well {
  color: black;
}

.well h2 {
  border-bottom: solid;
}

#contact-email {
  font-size: 2em;
}

.well span {
  font-size: 3em;
}

/* ==========================================================================
---FOOTER
========================================================================== */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

