/* ==========================================================================
---WHOLE PAGE & HELPERS
========================================================================== */

body {
  margin-top: 30px;
  background-color: black;
  color: #ebedea;
  font-family: 'Muli', Serif
  height: 100%;
}

#wrapper {
  min-height: 100%;
  margin-bottom: -60px;
  position: relative;
}

.hide-bullets {
  list-style:none;
  margin-left: -40px;
  margin-top:20px;
}

/* ==========================================================================
---NAVIGATION
========================================================================== */

.navbar-brand {
 padding: 0px;
}

.logo{
  height: 100%;
  padding: 5px;
  width: auto;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #cccccc;
  border-radius: 1px;
}


/* ==========================================================================
---CAROUSEL
========================================================================== */

#carousel-div {
  padding: 0px;
  margin-top: 10%;
}

#carousel-bounding-box {
  padding: 0px;  


}

#galleryCarousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-color: green;
  border-style: none;
/*  width: 100%;
*/  margin-left: 20px;
}

.carousel-inner {
  height: 80vh;
}

.carousel-img {

  object-fit: cover;

}
@media (min-width: 768px){

  /*Fixes Vertical Centering in Carousel*/
 /* .item {
    height: 500px;
  }
  .carousel .item img {
   max-height: 100%;  
   max-width: 100%; 
   position: absolute;  
   top: 0;  
   bottom: 0;  
   left: 0;  
   right: 0;  
   margin: auto;
 }
 }*/
/*
@media (max-width: 768px){
 /*Forces the carousel to always stay the same height*/
/* .item {
  height: 300px;
  }*/

  /*Fixes Vertical Centering in Carousel*/
/*.carousel .item img{
 max-height: 100%;  
 max-width: 100%; 
 position: absolute;  
 top: 0;  
 bottom: 0;  
 left: 0;  
 right: 0;  
 margin: auto;
}
}*/

/* ==========================================================================
---HOME PAGE
========================================================================== */

.jumbotron {
  color: black;
  width: 80%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 14px;
}

.jumbotron p {
  font-size: 1.3em;
}

.thumbnail {
  background-color: black;
  border-color: black;
  margin-bottom: 0px;
  display: inline-block;
}

.thumbnail .caption {
  color: white;
}

#gallery-icons .thumbnail img{
  height: 250px;
  width: 250px;
  object-fit: cover;
}

/* ==========================================================================
---GALLERY SELECTION PAGE
========================================================================== */

#gallery-icons-large .thumbnail img{
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin: auto;
}

/* ==========================================================================
---INFORMATIONAL PAGES (ABOUT, PRINTING PROCESS)
========================================================================== */

#artist-photo {
  margin:0 24px 14px 0;
  border-radius: 5px;
}

#about-text {
  color: black;
  font-size: 18px;
}
#about-text p{
  padding-bottom: 10px;
}

/* ==========================================================================
---GALLERY PAGES
========================================================================== */

.masonry {
  column-count: 4;
  column-gap: 1em;
}

#gallery-page .item {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

/* ==========================================================================
---WELL
========================================================================== */

.well {
  color: black;
}

.well h2 {
  border-bottom: solid;
}

#contact-email {
  font-size: 2em;
}

.well span {
  font-size: 3em;
}

/* ==========================================================================
---FOOTER
========================================================================== */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: relative;
  text-align: center;
  bottom: 5px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.clearfooter {
  height: 80px;
  clear: both;
}

